<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mytodayWidge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>sdfd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFA7ACCD1CF5B1EE00BFDB62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA7ACE61CF5B1EE00BFDB62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE354F91DAA1AA90023432B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
